<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Wear&When</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">categories<span class="sr-only">(current)</span></a></li>


        <% if logged_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%= current_user.id %>">profile</a></li>
            <li><a href="/users/<%= current_user.id %>/edit">edit profile</a></li>
            <li><a href="/images/new">upload image</a></li>
            <li role="separator" class="divider"></li>
            <li>
              <% if logged_in? %>
              <%= link_to "logout", logout_path, {method: "DELETE"} %>
              <% else %>
              <%= link_to "login", new_session_path %>
              <% end %>
            </li>
          </ul>
        </li>
        <% else %>
        <li><a href="/sessions/new">login</a></li>
        <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
  $('.dropdown').on('click', function() {
    $(this).toggleClass('dropdown open')
  })

</script>
