<%= render :partial => "partials/navbar" %>
<div class="container">
  <div class="col-md-4">
    <img src=" <%= @user.profile_img %> " class="userimg">
  </div>


  <div class="col-md-4">
    <h2> <%= @user.username %> </h2>
    <h4> <%= @user.images.count %> posts</h4>
    <p> <%= @user.bio %> </p>
  </div>
  <div class="col-md-4">
  </div>

</div>

<div class="container">
  <% @user.images.each do |p| %>
    <%= link_to image_path(p) do %>
    <img src="<%= p.user_post %>" class="image">
    <% end %>
  <% end %>
</div>

<% if @user == current_user %>
<div class="container">
  <%= link_to 'delete account', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>
