<%= render :partial => "partials/navbar" %>

<h2> <%= current_user.username %> </h2>
<img src=" <%= current_user.profile_img %> ">

<h3>Bio:</h3>
<strong><p> <%= current_user.bio %> </p></strong>

<%= link_to 'delete account', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
