<%= render :partial => "partials/navbar" %>

<div class="container">
  <h2> <%= current_user.username %> </h2>
  <img src=" <%= current_user.profile_img %> ">

  <h3>bio:</h3>
  <strong><p> <%= current_user.bio %> </p></strong>
</div>

<div class="container">
  <% current_user.images.each do |p| %>
    <%= link_to image_path(p) do %>
    <img src="<%= p.img_url %>" class="image">
    <% end %>
  <% end %>
</div>
<div class="container">
  <%= link_to 'delete account', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
