<%= render :partial => "partials/navbar" %>
<div class="container">

<% if logged_in? %>
<div class="row">
  <% @images.each do |p| %>
  <div class="col-md-4"><strong><p><%= p.user.username %></p></strong><%= link_to image_path(p) do %><img src="<%= p.img_url %>" class="image">
    <% end %><p><%= p.img_caption %></p></div>
  <% end %>
</div>
<% end %>
</div>
